<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppGuidePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FF0DD6A1D8E4DBF005790F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FF0DD7E1D8E4DBF005790F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FF0DD891D8E4DBF005790F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
